#player1, #player2{
    padding: 15px;

}
.result {
    margin-top: 160px;
}
#player1 {
    background-color: #ececec;
    box-shadow: 1px 1px 5px black;
}
.cols {
    border: 1px solid;
    text-align: center;
    padding: 30px;
    height: 500px;
}
.currentScore {
    font-size: 25px;
}

.curText {
    font-size: 20px;
}

.current {
    box-shadow:1px 1px 3px #0b2e13 inset;
    background-color: #e44753;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 30%;
    border: 1px solid;
}
.buttonCol {
    margin-top: 10px;
}
.buttons {
    text-align: center;
}

.dice {
    text-align: center;
    border: 1px solid;
    height: 500px;
    margin: auto;
    display: inline-block;
}

.diceImg {
    box-shadow: 1px 1px 5px black;
    margin-top: 160px;
    margin-bottom: 60px;
    width: 60px;
    border: 1px solid red;
    transition-duration: .3ms;
}
.globalScore {
    font-size: 50px;
    color: red;
}

.name {
    text-transform: uppercase;
    font-size: 2em;
    padding: 0.5rem 0.7rem;
    line-height: 5rem
}

.head {
    text-align: center;
}
.header {
    font-size: 35px;
}

.bouton {
    background-color: #e44753;
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.bouton:hover {
    background-color: #e40025;
    color: white;
}